sudo: false
language: php
dist: trusty
php:
  - 7.2
  - 7.3
  - 7.4snapshot
  - nightly
matrix:
  allow_failures:
    - php: 7.4snapshot
    - php: nightly
before_script:
  - composer self-update
  - composer install
script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
